<h4>{{'crud.' + currentCrud + '.title' | translate}}</h4>
<p-table #dt [columns]="cols" [value]="elements" selectionMode="single" [(selection)]="selectedElement" (onRowSelect)="onRowSelect($event)"  [paginator]="true" [rows]="10">
  <ng-template pTemplate="caption">
    <div class="row">
      <div class="col-md-6">
        <div style="text-align:left">
          <button *hasPermission="'CreateAutorisations'" type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Créer"></button>
        </div>
      </div>
      <div class="col-md-6">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Rechercher" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="{{getHeaderClass(col.field)}}">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td class="ui-p-1">{{rowData?.autoNom}}</td>
      <td class="ui-p-2">{{rowData?.autoDescription}}</td>
      <td class="ui-p-1">
        <span *ngFor="let role of rowData['roles']">{{role?.roleNom}}&nbsp;</span>
      </td>
    </tr>
  </ng-template>
  <!--<ng-template pTemplate="summary" let-rowData>
  </ng-template>-->
</p-table>

<p-dialog *ngIf="element"  header="{{'crud.' + currentCrud + '.title' | translate}} '{{element?.autoNom}}'"
          [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [style]="{width: '90%'}" [contentStyle]="{'overflow-y':'auto', 'max-height':'80vh'}">
  <div class="ui-g ui-fluid" *hasPermission="['DeleteAutorisations', 'CreateAutorisations', 'UpdateAutorisations']">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="autoNom">Nom *</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="autoNom" [(ngModel)]="element.autoNom" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="autoDescription">Description</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="autoDescription" [(ngModel)]="element.autoDescription" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="roles">Roles</label>
      </div>
      <div class="ui-g-8">
        <p-multiSelect id="roles" [options]="lists.roles" [(ngModel)]="element.roles" optionLabel="roleNom"
                       appendTo="body" [style]="{'width':'100%'}"></p-multiSelect>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button *hasPermission="'DeleteAutorisations'" type="button" pButton icon="fa fa-trash" (click)="delete()" label="Supprimer"></button>
      <button *hasPermission="['CreateAutorisations', 'UpdateAutorisations']" type="button" pButton icon="fa fa-check" (click)="save()" label="Enregistrer"></button>
    </div>
  </p-footer>
</p-dialog>
