<h4>{{'crud.' + currentCrud + '.title' | translate}}</h4>
<p-table #dt [columns]="cols" [value]="elements" selectionMode="single" [(selection)]="selectedElement" (onRowSelect)="onRowSelect($event)"  [paginator]="true" [rows]="10">
  <ng-template pTemplate="caption">
    <div class="row">
      <div class="col-md-6">
        <div style="text-align:left">
          <button *hasPermission="'CreateTypeOrgas'" type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Créer"></button>
        </div>
      </div>
      <div class="col-md-6">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Rechercher" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td>{{rowData?.typeOrgaNom}}</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog *ngIf="element" header="{{'crud.' + currentCrud + '.title' | translate}} '{{element?.typeOrgaNom}}'"
          [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [style]="{width: '90%'}" [contentStyle]="{'overflow-y':'auto', 'max-height':'80vh'}">
  <div class="ui-g ui-fluid" *hasPermission="['CreateTypeOrgas', 'UpdateTypeOrgas', 'DeleteTypeOrgas']">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="typeOrgaNom">Nom *</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="typeOrgaNom" [(ngModel)]="element.typeOrgaNom" />
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button *hasPermission="'DeleteTypeOrgas'" type="button" pButton icon="fa fa-trash" (click)="delete()" label="Supprimer"></button>
      <button *hasPermission="['CreateTypeOrgas', 'UpdateTypeOrgas']" type="button" pButton icon="fa fa-check" (click)="save()" label="Enregistrer"></button>
    </div>
  </p-footer>
</p-dialog>
