<h4>{{'crud.' + currentCrud + '.title' | translate}}</h4>
<p-table #dt [columns]="cols" [value]="elementsTable" selectionMode="single" [(selection)]="selectedElement"
         [lazy]="true" (onLazyLoad)="lazyLoading($event)" [totalRecords]="totalElements" [loading]="loading"
         (onRowSelect)="onRowSelect($event)"  [paginator]="true" [rows]="10">
  <ng-template pTemplate="caption">
    <div class="row">
      <div class="col-md-12">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Rechercher" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>    <tr>
    <th *ngFor="let col of columns" [ngSwitch]="col.field">
      <input *ngSwitchDefault pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">

      <p-multiSelect *ngSwitchCase="'valide'" [(ngModel)]="defaultValid" [options]="lists['valide']" defaultLabel="Tous" optionLabel="valideNom" (onChange)="dt.filter($event.value, col.field, 'equal')"></p-multiSelect>
      <p-multiSelect *ngSwitchCase="'badge'" [options]="lists['badges']" defaultLabel="Tous" optionLabel="badgNom" (onChange)="dt.filter($event.value, col.field, 'equal')"></p-multiSelect>
      <p-multiSelect *ngSwitchCase="'utilisateur'" [options]="lists['utilisateurs']" defaultLabel="Tous" optionLabel="utilNom" (onChange)="dt.filter($event.value, col.field, 'equal')"></p-multiSelect>
    </th>
  </tr>


  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td>{{rowData?.badge.badgNom}}</td>
      <td>{{rowData?.utilisateur.utilNom}} {{rowData?.utilisateur.utilPrenom}}</td>
      <td>{{rowData?.date | date : "dd/MM/yyyy"}}</td>
      <td><span class="label" [ngClass]="{'label-success' : rowData?.valide === true, 'label-danger' : rowData?.valide === false}">{{ 'general.' + rowData?.valide | translate }}</span></td>
    </tr>
  </ng-template>
</p-table>

<p-dialog *ngIf="element"
          header="{{'crud.' + currentCrud + '.title' | translate}} '{{element.badge.badgNom}}'"
          [(visible)]="displayDialog" [responsive]="true"
          showEffect="fade" [modal]="true"
          [style]="{width: '90%'}" [contentStyle]="{'overflow-y':'auto', 'max-height':'80vh'}">
  <div class="ui-g ui-fluid" *hasPermission="'UpdateBadgeAssignations'">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="badges">Badges</label>
      </div>
      <div class="ui-g-8">
        <span id="badges">{{element.badge.badgNom}}</span>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="utilisateur">Utilisateur</label>
      </div>
      <div class="ui-g-8">
        <span id="utilisateur">{{element.utilisateur.utilNom}} {{element.utilisateur.utilPrenom}}</span>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="date">Date</label>
      </div>
      <div class="ui-g-8">
        <span id="date">{{element.date | date : "dd/MM/yyyy"}}</span>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="valide">Valide</label>
      </div>
      <div class="ui-g-8">
        <span id="valide" class="label" [ngClass]="{'label-success' : element.valide === true, 'label-danger' : element.valide === false}">{{ 'general.' + element.valide | translate }}</span>
      </div>
    </div>
  </div>
  <p-footer>
    <div *ngIf="element.valide === false" class="ui-dialog-buttonpane ui-helper-clearfix">
      <button *hasPermission="'UpdateBadgeAssignations'" type="button" pButton icon="fa fa-check" (click)="validate()" label="Valider"></button>
    </div>
  </p-footer>
</p-dialog>
