.login {
  display: grid;
  grid-template-rows: 56% 1fr;
  grid-template-columns: 1fr 460px 1fr ;
  width: 100%;
}

#login-block {
  grid-column: 2;
  grid-row: 2;
  background-color: #fff;
  padding: 20px;
}
