<h4>{{'crud.' + currentCrud + '.title' | translate}}</h4>
<p-table #dt [columns]="cols" [value]="elements" selectionMode="single" [(selection)]="selectedElement" (onRowSelect)="onRowSelect($event)"  [paginator]="true" [rows]="10">
  <ng-template pTemplate="caption">
    <div class="row">
      <div class="col-md-6">
        <div style="text-align:left">
          <button *hasPermission="'CreateBadges'" type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Créer"></button>
        </div>
      </div>
      <div class="col-md-6">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Rechercher" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="{{getHeaderClass(col.field)}}">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td class="ui-p-1">{{rowData?.badgNom}}</td>
      <td class="ui-p-2">{{rowData?.badgDescription}}</td>
      <td class="ui-p-1">{{rowData?.nbPointsRequis}}</td>
      <td class="ui-p-2">{{rowData?.badgExpiration | date : "dd/MM/yyyy"}}</td>
      <td class="ui-p-2">{{rowData?.badgImageUrl}}</td>
      <!--<td class="ui-p-2">{{rowData?.badgPreuveUrl}}</td>-->
      <td class="ui-p-1">
        <span>{{rowData?.competence?.compNom}}&nbsp;</span>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog *ngIf="element" header="{{'crud.' + currentCrud + '.title' | translate}} '{{element?.badgNom}}'"
          [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [style]="{width: '90%'}" [contentStyle]="{'overflow-y':'auto', 'max-height':'80vh'}">
  <div class="ui-g ui-fluid" *hasPermission="['DeleteBadges', 'CreateBadges', 'UpdateBadges']">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="badgNom">Nom *</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="badgNom" [(ngModel)]="element.badgNom" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="badgDescription">Description</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="badgDescription" [(ngModel)]="element.badgDescription" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="nbPointsRequis">Points requis</label>
      </div>
      <div class="ui-g-8">
        <input pInputText type="number" pKeyFilter="num" id="nbPointsRequis" [(ngModel)]="element.nbPointsRequis" />
        <!-- <p-spinner id="nbPointsRequis" size="30" [(ngModel)]="element.nbPointsRequis" [min]="0" [max]="100"></p-spinner> -->
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="badgExpiration">Date d'expiration</label>
      </div>
      <div class="ui-g-8">
        <input pInputText type="date" id="badgExpiration" [(ngModel)]="element.badgExpiration" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="badgImageUrl">Lien de l'image</label>
      </div>
      <div class="ui-g-8">
        <input pInputText [pKeyFilter]="urlRegExp" id="badgImageUrl" [(ngModel)]="element.badgImageUrl" />
      </div>
    </div>
    <!--<div class="ui-g-12">
      <div class="ui-g-4">
        <label for="badgPreuveUrl">Lien preuve</label>
      </div>
      <div class="ui-g-8">
        <input pInputText [pKeyFilter]="urlRegExp" id="badgPreuveUrl" [(ngModel)]="element.badgPreuveUrl" />
      </div>
    </div>-->
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="competences">Compétences *</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown  id="competences" [options]="lists.competences" [(ngModel)]="element.competence" optionLabel="compNom" placeholder="Choisir une compétence"></p-dropdown>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button *hasPermission="'DeleteBadges'" type="button" pButton icon="fa fa-trash" (click)="delete()" label="Supprimer"></button>
      <button *hasPermission="['CreateBadges', 'UpdateBadges']" type="button" pButton icon="fa fa-check" (click)="save()" label="Enregistrer"></button>
    </div>
  </p-footer>
</p-dialog>
