.password {
  position: relative;
  .fa {
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    padding-right: 10px;
  }
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-left: 10px;
}

#userDetails {
  display: flex;
  justify-content: space-between;
  height: 200px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;

  img {
    height: 100%;
    border-radius: 50%;
  }

  #radarchartdiv {
    width: 500px;
  }
}

#radarChartFull {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: white;
}

@media screen and (max-width: 767px) {
  #userDetails {
    height: auto;
    flex-direction: column;
    align-items: center;

    img {
      height: 100%;
      width: auto !important;
    }

    #radarchartdiv {
      position: relative;
      height: 200px;
      width: auto;
    }
  }
}
