<h4>{{'crud.' + currentCrud + '.title' | translate}}</h4>
<p-table #dt [columns]="cols" [value]="elementsTable" selectionMode="single" [(selection)]="selectedElement"
        [lazy]="true" (onLazyLoad)="lazyLoading($event)" [totalRecords]="totalElements" [loading]="loading"
        (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10">
  <ng-template pTemplate="caption">
    <div class="row">
      <div class="col-md-6">
        <div style="text-align:left">
          <button *hasPermission="'CreateUtilisateurs'" type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Créer"></button>
          <label *hasPermission="'CreateUtilisateurs'" for="file-upload" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Importer des utilisateurs
          </label>
          <input *hasPermission="'CreateUtilisateurs'" id="file-upload" type="file" class="pl-2" (change)="importUsers($event)"/>
          <span id="loader" *ngIf="loadingImport">
            <img [src]="'assets/images/logocesi.gif'" alt="loader_cesi">
          </span>
          <!--<input *hasPermission="'CreateUtilisateurs'" type="file" class="pl-2" (change)="importUsers($event)" />-->
        </div>
      </div>
      <div class="col-md-6">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Rechercher" (input)="dt.filter($event.target.value, col.field, 'contains')" style="width:auto">
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="{{getHeaderClass(col.field)}}" filter="true">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field" class="{{getHeaderClass(col.field)}}">
        <input *ngSwitchDefault pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">

        <p-multiSelect *ngSwitchCase="'utilRoles'" [options]="lists['roles']" defaultLabel="Tous" optionLabel="roleNom" (onChange)="dt.filter($event.value, col.field, 'equal')"></p-multiSelect>
        <p-multiSelect *ngSwitchCase="'organisationsGeres'" [options]="lists['organisations']" defaultLabel="Tous" optionLabel="orgaNom" (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
        <p-multiSelect *ngSwitchCase="'organisations'" [options]="lists['organisations']" defaultLabel="Tous" optionLabel="orgaNom" (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td class="ui-p-2">{{rowData?.utilPseudo}}</td>
      <td class="ui-p-2">{{rowData?.utilEmail}}</td>
      <td class="ui-p-1">{{rowData?.utilPrenom}}</td>
      <td class="ui-p-1">{{rowData?.utilNom}}</td>
      <td class="ui-p-2">{{rowData?.utilPointDispo}}</td>
      <td class="ui-p-2">
        <span *ngIf="rowData.organisationsGeres == null || rowData.organisationsGeres.length === 0">Aucune</span>
        <span *ngFor="let orga of rowData['organisationsGeres']">
          - {{ orga.orgaNom }}&nbsp;
        </span>
      </td>
      <td class="ui-p-2">
        <span *ngFor="let role of rowData['utilRoles']">{{role?.roleNom}}&nbsp;</span>
      </td>
      <td class="ui-p-1">
        <span>{{rowData?.organisation.orgaNom}}</span>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog *ngIf="element"
    header="{{'crud.' + currentCrud + '.title' | translate}} '{{element?.utilPseudo}}'"
    [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [style]="{width: '90%'}" [contentStyle]="{'overflow-y':'auto', 'max-height':'80vh'}">
  <div *ngIf="radarDisplayed" id="radarChartFull" (click)="deployRadar(false)"></div>
  <div id="userDetails">
    <img src="{{ getUserUrlAvatar() }}" alt="userImg">
    <div id="radarchartdiv" (click)="deployRadar(true)"></div>
  </div>
  <div class="ui-g ui-fluid" *hasPermission="['DeleteUtilisateurs', 'CreateUtilisateurs', 'UpdateUtilsateurs']">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="utilPseudo">Pseudo *</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="utilPseudo" [(ngModel)]="element.utilPseudo" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="utilEmail">Mail *</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="utilEmail" [(ngModel)]="element.utilEmail" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="utilMotDePasse">Mot de passe *</label>
      </div>
      <div class="ui-g-8 password">
        <input id="utilMotDePasse" pPassword type="{{ pwdVisible }}" [(ngModel)]="element.utilMotDePasse"/>
        <i class="fa {{ pwdIcon }}" (mousedown)="showPassword(true)" (mouseup)="showPassword(false)"></i>
        <!--<input pInputText id="utilMotDePasse" [(ngModel)]="element.utilMotDePasse" />-->
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="utilCivilite">Civilité *</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown id="utilCivilite" [options]="lists.civilite" [(ngModel)]="element.utilCivilite"
                    placeholder="Choisir la civilité"></p-dropdown>
        <!--<input pInputText id="utilCivilite" [(ngModel)]="element.utilCivilite" />-->
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="utilPrenom">Prénom *</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="utilPrenom" [(ngModel)]="element.utilPrenom" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="utilNom">Nom *</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="utilNom" [(ngModel)]="element.utilNom" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="organisations">Organisation*</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown id="organisations" [options]="lists.organisations" [(ngModel)]="element.organisation"
                    optionLabel="orgaNom" placeholder="Choisir une organisation"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="utilUrlAvatar">Url photo</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="utilUrlAvatar" [(ngModel)]="element.utilUrlAvatar" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="utilPointDispo">Points Dispos</label>
      </div>
      <div class="ui-g-8">
        <input pInputText type="number" id="utilPointDispo" [(ngModel)]="element.utilPointDispo" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="utilPointBonusDispo">Point Bonus Dispos</label>
      </div>
      <div class="ui-g-8">
        <input pInputText type="number" id="utilPointBonusDispo" [(ngModel)]="element.utilPointBonusDispo" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="roles">Role</label>
      </div>
      <div class="ui-g-8">
        <p-multiSelect id="roles" [options]="lists.roles" [(ngModel)]="element.utilRoles"
                       optionLabel="roleNom" appendTo="body" [style]="{'width':'100%'}"></p-multiSelect>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-trash" *hasPermission="'DeleteUtilisateurs'" (click)="delete()" label="Supprimer"></button>
      <button type="button" pButton icon="fa fa-check" *hasPermission="['CreateUtilisateurs', 'UpdateUtilsateurs']" (click)="save()" label="Enregistrer"></button>
    </div>
  </p-footer>
</p-dialog>
