<nav *ngIf="isNavbarVisible()" class="navbar navbar-expand-lg main_navbar">
  <a class="navbar-brand" href="#">Youbyme Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color: #fff;  vertical-align: -webkit-baseline-middle;"></i></span>
  </button>

  <div #menu class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *hasPermission="['CreateUtilisateurs', 'ReadUtilisateurs', 'UpdateUtilisateurs', 'DeleteUtilisateurs']">
        <a (click)="collapse(menu)" class="nav-link" [routerLink]="['/utilisateurs']" role="button">
          <i class="fas fa-users"></i> Utilisateurs
        </a>
      </li>

      <li class="nav-item" *hasPermission="['CreateRoles', 'ReadRoles', 'UpdateRoles', 'DeleteRoles']">
        <a (click)="collapse(menu)" class="nav-link" [routerLink]="['/roles']" role="button">
          <i class="fas fa-clipboard-list"></i> Rôles
        </a>
      </li>

      <li class="nav-item" *hasPermission="['CreateAutorisations', 'ReadAutorisations', 'UpdateAutorisations', 'DeleteAutorisations']">
        <a (click)="collapse(menu)" class="nav-link" [routerLink]="['/autorisations']" role="button">
          <i class="fas fa-check"></i> Autorisations
        </a>
      </li>

      <li class="nav-item" *hasPermission="['CreateOrganisations', 'ReadOrganisations', 'UpdateOrganisations', 'DeleteOrganisations']">
        <a (click)="collapse(menu)" class="nav-link" [routerLink]="['/organisations']" role="button">
          <i class="fas fa-object-group"></i> Organisations
        </a>
      </li>

      <li class="nav-item" *hasPermission="['CreateTypeOrgas', 'ReadTypeOrgas', 'UpdateTypeOrgas', 'DeleteTypeOrgas']">
        <a (click)="collapse(menu)" class="nav-link" [routerLink]="['/typeorgas']" role="button">
          <i class="fas fa-object-group"></i> Type Orga.
        </a>
      </li>

      <li class="nav-item" *hasPermission="['CreateRegles', 'ReadRegles', 'UpdateRegles', 'DeleteRegles']">
        <a (click)="collapse(menu)" class="nav-link" [routerLink]="['/regles']" role="button">
          <i class="fas fa-screwdriver"></i> Règles
        </a>
      </li>

      <li class="nav-item" *hasPermission="['CreateVotes', 'ReadVotes', 'UpdateVotes', 'DeleteVotes']">
        <a (click)="collapse(menu)" class="nav-link" [routerLink]="['/votes']" role="button">
          <i class="fas fa-vote-yea"></i> Votes
        </a>
      </li>

      <li class="nav-item" *hasPermission="['CreateCompetences', 'ReadCompetences', 'UpdateCompetences', 'DeleteCompetences']">
        <a (click)="collapse(menu)" class="nav-link" [routerLink]="['/competences']" role="button">
          <i class="fas fa-list-ol"></i> Compétences
        </a>
      </li>

      <li class="nav-item" *hasPermission="['CreateBadges', 'ReadBadges', 'UpdateBadges', 'DeleteBadges']">
        <a (click)="collapse(menu)" class="nav-link" [routerLink]="['/badges']" role="button">
          <i class="fas fa-award"></i> Badges
        </a>
      </li>

      <li class="nav-item" *hasPermission="['CreateBadgeAssignations', 'ReadBadgeAssignations', 'UpdateBadgeAssignations', 'DeleteBadgeAssignations']">
        <a (click)="collapse(menu)" class="nav-link" [routerLink]="['/badgeassignations']" role="button">
          <i class="fas fa-user-graduate"></i> Badges assignés
        </a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item pull-right">
          <a [routerLink]="['logout']" class="nav-link" id="disconnect">
            Déconnexion <i class="fas fa-door-open"></i>
          </a>
      </li>
    </ul>
  </div>
</nav>
