@import '../../../assets/styles/_variables.scss';
nav {
  height: $navbar_height;
  // cancel boostrap clic behavior
  .dropdown-menu.show {
    display: none;
  }

  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }

  a.nav-link {
    font-size: 14px;
  }

  @media screen and (min-width: 989px) {
    li.nav-item.ng-star-inserted {
      border-left: 1px solid #333;
      box-sizing: border-box;
    }
    li.nav-item.ng-star-inserted:last-child {
      border-right: 1px solid #333;
    }
  }

  @media screen and (min-width: 989px) and (max-width: 1320px) {
    a.nav-link {
      font-size: 12px;
    }
  }
}

.main_navbar {
  background-color: #21252a;
}

.main_navbar .nav-link, .navbar-brand, #disconnect {
  color: #eee;
}
