<app-navbar></app-navbar>
<p-confirmDialog
  acceptButtonStyleClass="confirm-btn-accept"
  rejectButtonStyleClass="confirm-btn-reject"
  acceptIcon="pi pi-trash"
  rejectIcon="pi pi-times-circle">
</p-confirmDialog>
<div id="page-content">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
