<h4>{{'crud.' + currentCrud + '.title' | translate}}</h4>
<p-table #dt [columns]="cols" [value]="elementsTable" selectionMode="single" [(selection)]="selectedElement"
         [lazy]="true" (onLazyLoad)="lazyLoading($event)" [totalRecords]="totalElements" [loading]="loading"
         (onRowSelect)="onRowSelect($event)"  [paginator]="true" [rows]="10">
  <ng-template pTemplate="caption">
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Rechercher" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="{{getHeaderClass(col.field)}}">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field" class="{{getHeaderClass(col.field)}}">
        <input *ngSwitchDefault pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">

        <p-multiSelect *ngSwitchCase="'utilisateurEmetteur'" [options]="lists['utilisateurs']" defaultLabel="Tous" optionLabel="utilNom" (onChange)="dt.filter($event.value, col.field, 'equal')"></p-multiSelect>
        <p-multiSelect *ngSwitchCase="'utilisateurReceveur'" [options]="lists['utilisateurs']" defaultLabel="Tous" optionLabel="utilNom" (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
        <p-multiSelect *ngSwitchCase="'competence'" [options]="lists['competences']" defaultLabel="Tous" optionLabel="compNom" (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td class="ui-p-2">{{rowData?.voteId}}</td>
      <td class="ui-p-1">{{rowData?.date | date: 'dd/MM/yyyy' }}</td>
      <td class="ui-p-2">{{rowData?.valide}}</td>
      <td class="ui-p-2">{{rowData?.type}}</td>
      <td class="ui-p-2">{{rowData?.utilisateurEmetteur.utilNom}} {{rowData?.utilisateurEmetteur.utilPrenom}}</td>
      <td class="ui-p-1">{{rowData?.utilisateurReceveur.utilNom}} {{rowData?.utilisateurReceveur.utilPrenom}}</td>
      <td class="ui-p-1">{{rowData?.competence.compNom}}</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog *ngIf="element" header="{{'crud.' + currentCrud + '.title' | translate}} '{{element?.voteId}}'"
          [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [style]="{width: '90%'}" [contentStyle]="{'overflow-y':'auto', 'max-height':'80vh'}">
  <div class="ui-g ui-fluid" *hasPermission="['CreateVotes', 'UpdateVotes', 'DeleteVotes']">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="voteId">Numéro</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="voteId" [(ngModel)]="element.voteId" readonly />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="date">Date du vote</label>
      </div>
      <div class="ui-g-8">
        <input pInputText  type="date" id="date" [(ngModel)]="element.date" readonly />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="valide">Vote valide</label>
      </div>
      <div class="ui-g-8">
        <div id="valide">{{ 'crud.votes.isValid.' + element.valide | translate }}</div>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="type">Type du vote</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="type" [(ngModel)]="element.type" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="utilisateurEmetteur">Emetteur</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown id="utilisateurEmetteur" [options]="lists.utilisateurs" [(ngModel)]="element.utilisateurEmetteur"
                    readonly="true" optionLabel="utilNom" placeholder="Choisir un émetteur">
          <ng-template let-user let-i="index" pTemplate="item">
            {{user.value.utilNom}} {{user.value.utilPrenom}}
          </ng-template>
        </p-dropdown>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="utilisateurReceveur">Récepteur</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown id="utilisateurReceveur" [options]="lists.utilisateurs" [(ngModel)]="element.utilisateurReceveur"
                    readonly="true" optionLabel="utilNom" placeholder="Choisir un récepteur">
          <ng-template let-user let-i="index" pTemplate="item">
            {{user.value.utilNom}} {{user.value.utilPrenom}}
          </ng-template>
        </p-dropdown>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="competence">Compétence</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown id="competence" [options]="lists.competences" [(ngModel)]="element.competence"
                    readonly="true" optionLabel="compNom" placeholder="Choisir une compétence"></p-dropdown>
      </div>
    </div>
  </div>
  <p-footer>
    <div *hasPermission="'UpdateVotes'" class="ui-dialog-buttonpane ui-helper-clearfix">
      <button *ngIf="element.valide === false" type="button" pButton icon="fa fa-check" (click)="validate(true)" label="Valider"></button>
      <button *ngIf="element.valide === true" type="button" pButton icon="fa fa-ban" (click)="validate(false)" label="Invalider"></button>
    </div>
  </p-footer>
</p-dialog>
