<h4>{{'crud.' + currentCrud + '.title' | translate}}</h4>
<p-table #dt [columns]="cols" [value]="elements" selectionMode="single" [(selection)]="selectedElement" (onRowSelect)="onRowSelect($event)"  [paginator]="true" [rows]="10">
  <ng-template pTemplate="caption">
    <div class="row">
      <div class="col-md-6">
        <div style="text-align:left">
          <button *hasPermission="'CreateOrganisations'" type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Créer"></button>
        </div>
      </div>
      <div class="col-md-6">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Rechercher" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="{{getHeaderClass(col.field)}}">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td class="ui-p-1">{{rowData?.orgaNom}}</td>
      <td class="ui-p-2">{{rowData?.orgaAdreNumero}} {{rowData?.orgaAdreRue}}, {{rowData?.orgaAdreCp}} {{rowData?.orgaAdreVille}} {{rowData?.orgaAdrePays}}</td>
      <td class="ui-p-2">{{rowData?.orgaTel}}</td>
      <td class="ui-p-2">{{rowData?.orgaMail}}</td>
      <td class="ui-p-1">{{rowData?.orgaCodeAnalytics}}</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog  *ngIf="element" header="{{'crud.' + currentCrud + '.title' | translate}} '{{element?.orgaNom}}'"
           [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
           [style]="{width: '90%'}" [contentStyle]="{'overflow-y':'auto', 'max-height':'80vh'}">
  <div class="ui-g ui-fluid" *hasPermission="['CreateOrganisations', 'UpdateOrganisations', 'DeleteOrganisations']">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="orgaNom">Nom *</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="orgaNom" [(ngModel)]="element.orgaNom" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="orgaAdreNumero">Numéro de Rue</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="orgaAdreNumero" [(ngModel)]="element.orgaAdreNumero" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="orgaAdreRue">Rue</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="orgaAdreRue" [(ngModel)]="element.orgaAdreRue" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="orgaAdreVille">Ville</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="orgaAdreVille" [(ngModel)]="element.orgaAdreVille" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="orgaAdreCp">Code Postal</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="orgaAdreCp" [(ngModel)]="element.orgaAdreCp" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="orgaAdrePays">Pays</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="orgaAdrePays" [(ngModel)]="element.orgaAdrePays" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="orgaTel">Téléphone</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="orgaTel" [(ngModel)]="element.orgaTel" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="orgaMail">Mail</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="orgaMail" [(ngModel)]="element.orgaMail" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="orgaCodeAnalytics">Code Analytics</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="orgaCodeAnalytics" [(ngModel)]="element.orgaCodeAnalytics" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="orgaSiret">SIRET</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="orgaSiret" [(ngModel)]="element.orgaSiret" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="orgaParent">Organisation parent *</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown id="orgaParent" [options]="lists.organisations" [(ngModel)]="element.orgaParent" optionLabel="orgaNom" placeholder="Choisir une organisation parent"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="typeOrga">Type d'organisation *</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown id="typeOrga" [options]="lists.typeorgas" [(ngModel)]="element.typeOrga" optionLabel="typeOrgaNom" placeholder="Choisir un type d'organisation"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="regles">Règles</label>
      </div>
      <div class="ui-g-8">
        <p-multiSelect id="regles" [options]="lists.regles" [(ngModel)]="element.regles" optionLabel="reglNom" appendTo="body" [style]="{'width':'100%'}"></p-multiSelect>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="competences">Compétences</label>
      </div>
      <div class="ui-g-8">
        <p-multiSelect id="competences" [options]="lists.competences" [(ngModel)]="element.competences" optionLabel="compNom" appendTo="body" [style]="{'width':'100%'}"></p-multiSelect>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="utilisateurs">Utilisateurs</label>
      </div>
      <div class="ui-g-8">
        <p-multiSelect id="utilisateurs" [options]="lists.utilisateurs" [(ngModel)]="element.utilisateurs"
                       optionLabel="utilNom" appendTo="body" [style]="{'width':'100%'}">

          <ng-template let-user let-i="index" pTemplate="item">
            {{user.value.utilNom}} {{user.value.utilPrenom}}
          </ng-template>
        </p-multiSelect>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="administrateurs">Administrateurs</label>
      </div>
      <div class="ui-g-8">
        <p-multiSelect id="administrateurs" [options]="lists.utilisateurs" [(ngModel)]="element.administrateurs" optionLabel="utilNom" appendTo="body" [style]="{'width':'100%'}"></p-multiSelect>
      </div>
    </div>
  </div>
  <p-footer *hasPermission="['CreateOrganisations', 'UpdateOrganisations', 'DeleteOrganisations']">
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button *hasPermission="'ResetVotes'" type="button" pButton icon="fas fa-sync" (click)="resetVotes()" label="Réinitialiser les votes"></button>
      <button *hasPermission="'DeleteOrganisations'" type="button" pButton icon="fa fa-trash" (click)="delete()" label="Supprimer"></button>
      <button *hasPermission="['CreateOrganisations', 'UpdateOrganisations']" type="button" pButton icon="fa fa-check" (click)="save()" label="Enregistrer"></button>
    </div>
  </p-footer>
</p-dialog>
