<h4>{{'crud.' + currentCrud + '.title' | translate}}</h4>
<p-table #dt [columns]="cols" [value]="elements" selectionMode="single" [(selection)]="selectedElement" (onRowSelect)="onRowSelect($event)"  [paginator]="true" [rows]="10">
  <ng-template pTemplate="caption">
    <div class="row">
      <div class="col-md-6">
        <div style="text-align:left">
          <button *hasPermission="'CreateRoles'" type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Créer"></button>
        </div>
      </div>
      <div class="col-md-6">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Rechercher" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td>{{rowData?.roleNom}}</td>
      <td>{{rowData?.roleDescription}}</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog *ngIf="element" header="{{'crud.' + currentCrud + '.title' | translate}} '{{element?.roleNom}}'"
          [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [style]="{width: '90%'}" [contentStyle]="{'overflow-y':'auto', 'max-height':'80vh'}">
  <div class="ui-g ui-fluid" *hasPermission="['CreateRoles', 'UpdateRoles', 'DeleteRoles']">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="roleNom">Nom *</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="roleNom" [(ngModel)]="element.roleNom" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="roleDescription">Description</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="roleDescription" [(ngModel)]="element.roleDescription" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="autorisations">Autorisations</label>
      </div>
      <div class="ui-g-8">
        <p-multiSelect id="autorisations" [options]="lists.autorisations" [(ngModel)]="element.autorisations"
                       optionLabel="autoNom" appendTo="body" [style]="{'width':'100%'}">
        </p-multiSelect>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="utilisateurs">Utilisateurs</label>
      </div>
      <div class="ui-g-8">
        <p-multiSelect id="utilisateurs" [options]="lists.utilisateurs" [(ngModel)]="element.utilisateurs"
                       optionLabel="utilNom" appendTo="body" [style]="{'width':'100%'}">
          <ng-template let-user let-i="index" pTemplate="item">
            {{user.value.utilNom}} {{user.value.utilPrenom}}
          </ng-template>
        </p-multiSelect>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button *hasPermission="'DeleteRoles'" type="button" pButton icon="fa fa-trash" (click)="delete()" label="Supprimer"></button>
      <button *hasPermission="['CreateRoles', 'UpdateRoles']" type="button" pButton icon="fa fa-check" (click)="save()" label="Enregistrer"></button>
    </div>
  </p-footer>
</p-dialog>
