@import '~bootstrap/dist/css/bootstrap.min.css';

/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  body {
    height: 100%;
    background-color: #dde4e9;

    td {
      overflow: hidden;
    }

    .clickable {
      cursor: pointer;
    }

    .hidden {
      display: none;
    }

    .confirm-btn-accept {
      color: #fff !important;
      background-color: #dc3545 !important;
      border-color: #dc3545 !important;
    }

    .confirm-btn-reject {
      color: #fff !important;
      background-color: #6c757d !important;
      border-color: #6c757d !important;
    }

    // Additional

    #page-wrapper {
      height: 100vh;
    }

    #page-container {
      height: 100%;
      opacity: 1;
      width: 100%;
      padding: 0;
      margin: 0 auto;
      overflow-x: hidden;
      -webkit-transition: opacity .3s ease-out;
      transition: opacity .3s ease-out;
    }

    #page-container, #main-container, #page-content + footer {
      min-width: 320px;
    }

    @media screen and (min-width: 768px) {
      #page-content {
        padding: 20px 20px 1px;
      }
      #main-container {
        min-height: 700px;
        height: 100%;
      }
    }

    @media screen and (max-width: 767px) {
      .ui-p-2 {
        display: none;
      }
      #page-content {
        padding: 10px 5px 1px;
        background-color: #dbe3e4;
      }
      #main-container {
        min-height: 600px;
        height: 100%;
      }
      table {
        word-break: break-all;
      }
    }

    .pull-right {
      float: right !important
    }

    table.dataTable {
      clear: both;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      max-width: none !important;
    }

    .form-bordered .form-group, .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td, .table tbody + tbody, .table-bordered, .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td, .list-group-item, .nav-tabs > li > a:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, pager > li > a, .pager > li > span, .pager > li.disabled > a:hover, .dropzone, .dataTables_wrapper > div {
      border-color: #ebeff2;
    }
    p, .table, .alert, .carousel {
      margin-bottom: 20px;
    }
    .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td, .table tbody + tbody, .table-bordered, .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
      border-color: #dbe3e4;
    }
    .table-bordered {
      border: 1px solid #ddd;
    }
    .table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }

    table {
      background-color: white;
      border-collapse: collapse;
      border-spacing: 0;
      th {
        input, p-multiSelect .ui-multiselect {
          width: 100%;
        }
      }
    }

    // Usuals
    th {
      background-color : #444444;
      color: #fff;
      font-weight: bold;
    }
    input#valide {
      display: inline-block;
      width: 20px;
      vertical-align: middle;
      margin: 0 8px;
      height: 20px;
    }
    .label {
      display: inline;
      padding: .2em .6em .3em;
      font-size: 75%;
      font-weight: bold;
      line-height: 1;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: .25em;
    }
    .label {
      padding: 1px 4px;
    }
    .label {
      font-weight: normal;
      font-size: 90%;
    }
    .label-success {
      background-color: #9ddd7b;
      color: #000;
    }
    .label-danger {
      background-color: #dd817b;
      color: #fff;
    }

    .text-classic {
      color: #333;
    }

    #disconnet, #disconnet:hover, #disconnet:active {
      color: #333;
      text-decoration: none;
    }

    .row-flex {
      display: flex;
      flex-wrap: wrap;
    }

    .content {
      height: 100%;
    }


    @media screen and (max-width: 990px) {
      div#navbarSupportedContent {
        background: #333;
        z-index: 99;
        padding: 10px;
      }
    }

    app-utilisateurs {
      th .ui-multiselect {
        width: 100%;
      }
    }

    p-dialog {
      input, p-dropdown, p-multiselect {
        width: 100%;
      }
    }
  }
}
