<div class="container-fluid">
  <div class="row row-flex mb-3">
    <div class="col-12 col-sm-9">
      <p-card>
        <div class="ui-card ui-widget ui-widget-content ui-corner-all content">
          <div class="ui-card-body">
            <div class="ui-card-title ng-star-inserted my-auto">
              <h1 class="mt-1 mb-1">Bienvenue {{currUsername}}</h1>
            </div>
          </div>
        </div>
      </p-card>
    </div>
    <div class="col-sm-3 col-12">
      <p-card>
        <div class="ui-card ui-widget ui-widget-content ui-corner-all content">
          <div class="ui-card-body">
            <div class="ui-card-title ng-star-inserted my-auto text-center">
              <h2 class="mt-2 mb-1">{{currDate | titlecase }}</h2>
            </div>
          </div>
        </div>
      </p-card>
    </div>
  </div>
  <div class="row bodyHomePage">
    <div id="fullCalendar" *ngIf="calendarExpanded">
      <span class="fullpage" (click)="toggleCalendar()"><i class="fas fa-compress"></i></span>
      <p-fullCalendar [events]="events" [options]="options" [style]="{height: '100%'}"></p-fullCalendar>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
      <p-card title="Etudiants de ma promotion">
        <div class="ui-card ui-widget ui-widget-content ui-corner-all mb-3">
          <div class="ui-card-body row">
            <div class="col-3 my-auto pr-0">
              <div class="ui-card-title ng-star-inserted my-auto text-center">
                <i class="fa fa-users"></i>
              </div>
            </div>
            <div class="col-8 pr-0">
              <div class="ui-card-title ng-star-inserted mb-0 mt-1">
                <h2 class="m-0"><b>{{userCount}}</b> étudiants</h2>
              </div>
              <div class="ui-card-content">
                <div>
                  <a [routerLink]="['/utilisateurs']"><span>Voir mes étudiants</span></a>
                </div>
              </div>
            </div>
            <div class="col-1 my-auto pl-0">
              <div class="ui-card-title ng-star-inserted my-auto text-right">
                <a [routerLink]="['/utilisateurs']"><i class="fa fa-caret-right fa-2x text-classic"></i></a>
              </div>
            </div>
          </div>
        </div>
      </p-card>
      <p-card title="Votes de la semaine">
        <div class="ui-card ui-widget ui-widget-content ui-corner-all mb-3">
          <div class="ui-card-body row">
            <div class="col-3 my-auto pr-0">
              <div class="ui-card-title ng-star-inserted my-auto text-center">
                <i class="fa fa-vote-yea"></i>
              </div>
            </div>
            <div class="col-8 pr-0">
              <div class="ui-card-title ng-star-inserted mb-0 mt-1">
                <h2 class="m-0"><b>{{voteCount}}</b> votes</h2>
              </div>
              <div class="ui-card-content">
                <div>
                  <a [routerLink]="['/votes']"><span>Voir les votes de la semaine</span></a>
                </div>
              </div>
            </div>
            <div class="col-1 my-auto pl-0">
              <div class="ui-card-title ng-star-inserted my-auto text-right">
                <a [routerLink]="['/votes']"><i class="fa fa-caret-right fa-2x text-classic"></i></a>
              </div>
            </div>
          </div>
        </div>
      </p-card>
      <p-card title="Les assignations de badge de la semaine">
        <div class="ui-card ui-widget ui-widget-content ui-corner-all mb-3">
          <div class="ui-card-body row">
            <div class="col-3 my-auto pr-0">
              <div class="ui-card-title ng-star-inserted my-auto text-center">
                <i class="fa fa-user-graduate"></i>
              </div>
            </div>
            <div class="col-8 pr-0">
              <div class="ui-card-title ng-star-inserted mb-0 mt-1">
                <h2 class="m-0"><b>{{ badgeCount }}</b> badges</h2>
              </div>
              <div class="ui-card-content">
                <div>
                  <a [routerLink]="['/badgeassignations']"><span>Voir les demandes à valider</span></a>
                </div>
              </div>
            </div>
            <div class="col-1 my-auto pl-0">
              <div class="ui-card-title ng-star-inserted my-auto text-right">
                <a [routerLink]="['/badgeassignations']"><i class="fa fa-caret-right fa-2x text-classic"></i></a>
              </div>
            </div>
          </div>
        </div>
      </p-card>
      <div id="calendar" [ngClass]="{'expanded': calendarExpanded}">
        <span class="fullpage" (click)="toggleCalendar()"><i class="fas fa-expand"></i></span>
        <p-fullCalendar [events]="events" [options]="options"></p-fullCalendar>
      </div>
    </div>
    <div class="col-xl-9 col-lg-8 col-md-7 col-sm-6">
      <div id="chartdiv" class="bg-white p-2"></div>
    </div>
  </div>
</div>


