.container-fluid {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  padding-bottom: 10px;
}

.bodyHomePage {
  .ui-card-title {
    h2 {
      font-size: 1.8rem;
    }

    > i {
      // font-size: 3.5em;
      font-size: 2.6em;
    }
  }

  .left-side {
    position: unset;
  }

  #chartdiv {
    width: 100%;
    height: 100%;
  }

  #calendar {
    position: relative;
  }

  #calendar, #fullCalendar {
    background-color: white;
    padding: 10px;
  }

  .fullpage {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
  }

  #fullCalendar {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }
}
