<h4>{{'crud.' + currentCrud + '.title' | translate}}</h4>
<p-table #dt [columns]="cols" [value]="elements" selectionMode="single" [(selection)]="selectedElement" (onRowSelect)="onRowSelect($event)"  [paginator]="true" [rows]="10">
  <ng-template pTemplate="caption">
    <div class="row">
      <div class="col-md-6">
        <div style="text-align:left">
          <button *hasPermission="['CreateCompetences']" type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Créer"></button>
        </div>
      </div>
      <div class="col-md-6">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Rechercher" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="{{getHeaderClass(col.field)}}">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td class="ui-p-1">{{rowData?.compNom}}</td>
      <td class="ui-p-2">{{rowData?.compDescription}}</td>
      <td class="ui-p-2">
        <span>{{rowData?.badge?.badgNom}}&nbsp;</span>
      </td>
      <td class="ui-p-1">
        <span>{{rowData?.competenceParent?.compNom}}&nbsp;</span>
      </td>
      <td class="ui-p-1">
        <span *ngFor="let organisation of rowData['organisations']">{{organisation?.orgaNom}}&nbsp;</span>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog *ngIf="element" header="{{'crud.' + currentCrud + '.title' | translate}} '{{element?.compNom}}'"
          [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [style]="{width: '90%'}" [contentStyle]="{'overflow-y':'auto', 'max-height':'80vh'}">
  <div class="ui-g ui-fluid" *hasPermission="['CreateCompetences', 'UpdateCompetences', 'DeleteCompetences']">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="compNom">Nom *</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="compNom" [(ngModel)]="element.compNom" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="compDescription">Description</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="compDescription" [(ngModel)]="element.compDescription" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="badges">Badges</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown  id="badges" [options]="lists.badges" [(ngModel)]="element.badge" optionLabel="badgNom" placeholder="Choisir un Badge"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="competenceParent">CompetenceParent *</label>
      </div>
      <div class="ui-g-8">
        <!--<p-multiSelect id="competenceParent" [options]="lists.competences" [(ngModel)]="element.competenceParent" optionLabel="compNom" appendTo="body" [style]="{'width':'100%'}"></p-multiSelect>-->
        <p-dropdown id="competenceParent" [options]="lists.competences" [(ngModel)]="element.competenceParent" optionLabel="compNom" placeholder="Choisir une compétence"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="organisations">Organisations *</label>
      </div>
      <div class="ui-g-8">
        <p-multiSelect id="organisations" [options]="lists.organisations" [(ngModel)]="element.organisations" optionLabel="orgaNom" appendTo="body" [style]="{'width':'100%'}"></p-multiSelect>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button *hasPermission="'DeleteCompetences'" type="button" pButton icon="fa fa-trash" (click)="delete()" label="Supprimer"></button>
      <button *hasPermission="['CreateCompetences', 'UpdateCompetences']" type="button" pButton icon="fa fa-check" (click)="save()" label="Enregistrer"></button>
    </div>
  </p-footer>
</p-dialog>
